<%= form_for @evenement do |f| %>
  <div class="form-wrapper">
    <%= f.label :title, 'Titre *' %>
    <%= f.text_field :title, :required => true, placeholder: "Requis" %>

    <%= f.label :description, 'Description' %>
    <%= f.text_area :description, :required => false, placeholder: "Optionel" %>

    <%= f.label :adress, 'Adresse' %>
    <%= f.text_field :adress, :required => false, placeholder: "Optionel" %>

    <%= f.label :city, 'Ville *' %>
    <%= f.text_field :city, :required => true, placeholder: "Requis" %>

    <%= f.label :zipcode, 'Code Postal' %>
    <%= f.text_field :zipcode, :required => false, placeholder: "Optionel" %>

    <%= f.label :date, 'Date *' %>
    <%= f.date_field :date, :required => true %>

    <%= f.label :time, 'Horaire *' %>
    <%= f.time_field :time, :required => true %>

    <% if current_page?(action: 'new') %>
      <%= f.submit 'Ajouter' %>
    <% end %>
    <% if current_page?(action: 'edit') %>
      <%= f.submit 'Mettre à Jour' %>
      <%= link_to 'Effacer', @evenement, method: :delete, data: {confirm: 'Veux tu vraiment effacer cet évènement ?'} %>
    <% end %>
  </div>
<% end %>
