<footer>
  <div class="footer-container">
    <p>Merci pour votre visite</p>
    <div class="footer-content">
      <div class="site-map">
        <h2>Plan du site</h2>
        <nav>
          <ul>
            <li><%= link_to 'Accueil', root_path, :class => current_class?(root_path) %></li>
            <li><%= link_to 'Accès', pages_acces_path, :class => current_class?(pages_acces_path) %></li>
            <li><%= link_to 'Hébergement', hebergements_path, :class => current_class?(hebergements_path) %></li>
            <li><%= link_to 'Programme', evenements_path, :class => current_class?(evenements_path) %></li>
            <li><%= link_to 'Liste de mariage', liste_de_mariages_path, :class => current_class?(liste_de_mariages_path) %></li>
            <li><%= link_to 'Contacts', contacts_path, :class => current_class?(contacts_path) %></li>
          </ul>
        </nav>
      </div>
      <div class="contact-info">
        <p>Contactez nous pour toute question</p>
        <%= link_to 'reception@mariage-camille-antoine.fr', "mailto:reception@mariage-camille-antoine.fr" %>
        <%= link_to '06 71 22 61 28', "tel:+33699509440" %>
      </div>
      <div class="admin-acces">
        <%= link_to 'Accès administrateur', root_path %>
      </div>
    </div>
  </div>
</footer>
