<ul>
  <li><%= link_to 'Home', root_path %></li>
  <li><%= link_to 'Posts', posts_path %></li>
  <li><%= link_to 'Hébergements', hebergements_path %></li>
  <li><%= link_to 'Contacts', contacts_path %></li>
  <li><%= link_to 'Listes de mariage', liste_de_mariages_path %></li>
  <li><%= link_to 'Évènements', evenements_path %></li>
</ul>
