<div class="navbar-wrapper">
  <div class="navbar-container">
    <div class="navbar-logo">
      <h1>Camille <span>&</span> Antoine</h1>
    </div>
    <div class="navbar-links">
      <nav>
        <ul>
          <li><%= link_to 'Home', root_path %></li>
          <li><%= link_to 'Posts', posts_path %></li>
          <li><%= link_to 'Hébergements', hebergements_path %></li>
          <li><%= link_to 'Contacts', contacts_path %></li>
          <li><%= link_to 'Listes de mariage', liste_de_mariages_path %></li>
          <li><%= link_to 'Évènements', evenements_path %></li>
        </ul>
      </nav>
    </div>
  </div>
</div>
