<h1><%= @evenement.title %></h1>
<small>Le <%= @evenement.date %> à <%= @evenement.time %></small>
<h4><em><%= @evenement.adress %> <%= @evenement.zipcode %> <%= @evenement.city %></em></h4>
<p><%= @evenement.description %></p>
